<div class="container1">
  {{!-- USER OPTIONS --}}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <div class="index-container">
        <div class="background-opacity"></div>
        <h2>Wedding Registry</h2>
        <hr>
        <h3 class="subtext">Welcome...let's get started!</h3>
        {{!--Home buttons --}}
        <div class="buttons">
          <a href="" class="btn index-btn btn-dark btn-lg" data-toggle="modal" data-target="#modalRegisterForm">Create a
            Registry</a>
          <a href="" class="btn index-btn btn-dark btn-lg" data-toggle="modal" data-target="#modalFindRegistry">Find a
            Registry</a>
          {{!-- <a href="" class="btn index-btn btn-dark" data-toggle="modal" data-target="#modalUpdateRegistry">Login</a> --}}
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Modal/CREATE --}}
<div class="modal animated tada" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create a Gift Registry</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{!-- User Name --}}
      <div class="modal-body mx-3">
        <div class="form-row">
          <div class="col">
            <!-- First name -->
            <div class="md-form mb-5">
              <i class="fa fa-user prefix grey-text"></i>
              <input placeholder="First name" type="text" id="user-first-name" class="form-control">
              <label for="user-firstname"></label>
            </div>
          </div>
          <div class="col">
            <!-- Last name -->
            <div class="md-form">
              <input placeholder="Last-name" type="text" id="user-last-name" class="form-control">
              <label for="user-lastname"></label>
            </div>
          </div>
        </div>
        {{!-- Email --}}
        <div class="md-form mb-5">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input placeholder="Your email" type="email" id="email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="email"></label>
        </div>
        {{!-- Password
        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i>
          <input placeholder="Create password" type="password" id="password" class="form-control validate">
          <label data-error="wrong" data-success="right" for="password"></label>
        </div> --}}
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <form action="/registry" name="createRegistry">
          <button id="create" class="btn btn-dark">Create Registry</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!--Modal/Find A Registry --}}
<div class="modal animated tada" id="modalFindRegistry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Find a Gift Registry</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fa fa-search prefix grey-text"></i>
          <input placeholder="Search by UserID" type="text" id="search-registry" class="form-control validate">
          <label data-error="wrong" data-success="right" for="search"></label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-dark" id="search-name">Find Registry</button>
      </div>
    </div>
  </div>
</div>

{{!--Modal/Login --}}
<div class="modal fade" id="modalLoginRegistry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Login to Registry</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <h5>Enter email associated with registry</h5>
        <div class="md-form mb-5">
          <i class="fa fa-search prefix grey-text"></i>
          <input placeholder="Enter your email" type="email" id="login-registry" class="form-control validate">
          <label data-error="wrong" data-success="right" for="login"></label>
        </div>
      </div>
      {{!-- <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-dark" id="login">Login</button>
      </div> --}}
    </div>
  </div>
</div>

<!--Javascript -->

<script type="text/javascript">

  // Material Select Initialization for Form
  $(document).ready(function () {

    // Create Registry================================
    $("#create").on("click", function (event) {
      event.preventDefault();
      console.log("i clicked dammit");

      // Form validation
      function validateForm() {
        var isValid = true;
        $("#modalRegisterForm .form-control").each(function () {
          if ($(this).val() === "") {
            isValid = false;
          }
        });
        return isValid;
      }
      // If all required fields are filled
      if (validateForm() == true) {
        // Create an object for the user"s data
        var newUser = {
          firstName: $("#user-first-name").val(),
          lastName: $("#user-last-name").val(),
          email: $("#email").val()
          //password: $("#password").val()
        };
        console.log(newUser);

        // Send the POST request.
        $.ajax("/api/users", {
          type: "POST",
          data: newUser
        }).then(
          function (user) {
            console.log("created new user");
            console.log(user); 
            var id = user.id
            // Reload the page to get the updated list
            //location.reload();
            localStorage.setItem("currentUser", JSON.stringify(user)); 
            window.location.href = "/registry/" + id;
          }
        )
        
      }
      else {
        alert("Please fill out ALL fields before submitting!");
      }
    });

    //Find Registry=========================================
    $("#search-name").on("click", function (event) {
      event.preventDefault();
      console.log("i am looking for a registry");
      var registry = $("#search-registry").val();
      console.log(registry);

      $.ajax("api/:user", {
        type: "GET",
        data: registry
      })
        .then(function () {
          console.log("fetching the registry");
          window.location.href = "/?user=" + registry;
        })
    })

    //Login=========================================
        $("#login").on("click", function (event) {
      event.preventDefault();
      console.log("logging in....");

      var registry = $("#login-registry").val();
      console.log(registry);

      $.ajax("api/:user", {
        type: "GET",
        data: registry
      })
        .then(function () {
          console.log("logging in to registry");
          window.location.href = "/?user=" + registry;
        })
    })

  });

</script>