<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Registry List</h5>
          <form id="product-form">
            <div class="form-group">
              <label for="exampleInputEmail1">Product</label>
              <input type="text" class="form-control" id="product-name" aria-describedby="productName"
                placeholder="Enter product name">

            </div>
            <div class="form-group">
              <label for="store">Store</label>
              <input type="text" class="form-control" id="store" placeholder="Enter the store name">
            </div>

            <div class="form-group">
              <label for="price">Price</label>
              <input type="text" class="form-control" id="price" placeholder="Enter the procuct price">
            </div>


            <button type="submit" class="btn btn-primary" id="submit-product">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-8 offset-2">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Item List</h5>
        <ul>
        {{#each Products}}
        {{#unless isPurchased}}
        
        <li>{{this.id}} {{this.productName}} {{this.price}} {{this.store}}</li>
        {{/unless}}
        {{/each}}
</ul>
        <a href="/">← Back To Home</a>
      </div>
    </div>
  </div>
</div>
</div>

<!--Javascript -->

<script type="text/javascript">

  // Material Select Initialization for Form
  $(document).ready(function () {

    // Capture the form inputs
    $("#submit-product").on("click", function (event) {
      event.preventDefault();
      console.log("i clicked dammit");

      // Form validation
      function validateForm() {
        var isValid = true;
        $("#product-form .form-control").each(function () {
          if ($(this).val() === "") {
            isValid = false;
          }
        });

        return isValid;
      }

      // If all required fields are filled
      if (validateForm() == true) {
        // Create an object for the user"s data
        var newProduct = {
          productName: $("#product-name").val(),
          store: $("#store").val(),
          price: $("#price").val(),
          isPurchased: false

        };
        console.log(newProduct);

        // Send the POST request.
        $.ajax("/api/products", {
          type: "POST",
          data: newProduct
        }).then(
          function () {
            console.log("created new product");
            // Reload the page to get the updated list
            //location.reload();
            location.reload();
          }
        )

      }
      else {
        alert("Please fill out ALL fields before submitting!");
      }
    });
  });

</script>